<!DOCTYPE html>
<html lang="RU">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style/login.css}">
</head>
<body>
    <div class="wrapper">
<h2>Login</h2>
<form method = "POST" action = "/login">
    <label for="username">Username Or Email:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Login">
    <a href="/register">Register</a>
</form>
</div>
</body>
</html>