<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/article.css">
    <title th:text="${article.title}">Article</title>
</head>
<body>
<div>
    <h1 class="HeaderTitle" th:text="${article.title}">Article</h1>
</div>
<nav class="navBar">
    <ul class="unorderedList">
        <li class="listItem"><a class="link" href="/">Главная</a></li>
        <li class="listItem"><a class="link" href="/profile">Профиль</a></li>
    </ul>
</nav>
<main>
    <div class="article">
        <h1 class="h2" th:text="${article.title}">Заголовок статьи</h1>
        <div th:utext="${article.content}"></div>
        <div class="class">
            <div id="likeDislike">
                <button class="button-like" th:attr="onclick='handleLike(\'' + ${article.id} + '\')'">👍🏻</button>
                <span id="likesCount" th:text="${article.getLikes()}">0</span>
                <button class="button-dislike" th:attr="onclick='handleDislike(\'' + ${article.id} + '\')'">👎🏻</button>
                <span id="dislikesCount" th:text="${article.dislikes}">0</span>
            </div>
            <div class="date">
                <p>Дата публикации: <span id="publishDate" th:text="${#dates.format(article.publishDate, 'yyyy:MM:dd HH:mm')}">2023:08:30 14:30</span></p>
                <p>Автор:  <span th:text="${article.getAuthor().getSurname()}">Иван</span> <span th:text="${article.getAuthor().getUsername()}">Иванов</span></p>
            </div>
        </div>
    </div>
    <div>
        <form id="commentForm" class="comment-meta">
            <label for="comment">Комментарий:</label><br>
            <textarea class="comment-content" id="comment" name="comment" rows="4" cols="50" required></textarea><br>
            <input  class="hover_button" type="submit" value="Отправить">
            <div id="articleId" style="display: none;" th:text="${article.getId()}"></div>
        </form>
        <div id="comments" class="comments-section"  th:if="${comments.size() > 0}">
            <th:block th:each="comment : ${comments}">
                <div class="comment">
                    <div class="info">
                        <span class="name"><span th:text="${comment.getUser().getUsername()}">Имя</span></span>
                        <span class="date">Опубликовано: <span class="date_" th:text="${#dates.format(comment.getPostDate(), 'yyyy.MM.dd HH:mm')}">19.1.12</span></span>
                    </div>
                    <div class="text" th:text="${comment.getContent()}">
                        Текст комментария
                    </div>
                    <div class="actions">
                        <span class="span">Ответить</span>
                        <div style="display: none;" th:text="${comment.getId()}"></div>
                        <span th:attr="onclick='commentLike(\'' + ${comment.id} + '\')'" class="span">Поддерживаю</span>
                        <span id="commentLikes" th:text="${comment.getLikes()}">100</span>
                    </div>
                </div>
            </th:block>
        </div>
        <div th:if="${comments.size() == 0}" style="text-align: center;">
            <p>Нет доступных коментариев.</p>
        </div>
    </div>
</main>
<script src="/js/article.js"></script>
</body>
</html>
