<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/previewArticle.css">
    <title th:text="${article.title}">Article</title>
</head>
<body>
<div>
    <h1 class="HeaderTitle" th:text="${article.title}">Article</h1>
</div>
<main>
    <div class="article">
        <h1 class="h2" th:text="${article.title}">Заголовок статьи</h1>
        <div th:utext="${article.content}">Content</div>
        <div class="class">
            <div id="likeDislike">
                <p>Дата публикации: <span th:text="${#dates.format(article.publishDate, 'yyyy.MM.dd HH:mm')}">2023:08:30 14:30</span></p>
            </div>
            <div class="date">
                <p>Автор:  <span th:text="${article.getAuthor().getSurname()}">Иван</span> <span th:text="${article.getAuthor().getUsername()}">Иванов</span></p>
            </div>
        </div>
    </div>
</main>
<div class="article-card">
    <img class="article-avatar" th:src="${article.getPreview()}" alt="Article preview">
    <div class="article-info">
        <h2 class="article-name" id="articleTitle" th:text="${article.getTitle()}">Название поста</h2>
        <div class="article-description">
            <p class="article-views">
                <span>0</span> просмотров
            </p>
        </div>
    </div>
    <div class="article-date">
        <span class="article-likes">
            <span>0</span> понравившихся
        </span>
        <p class="articleDate"th:text="${#dates.format(article.publishDate, 'yyyy.MM.dd HH:mm')}">
            Опубликовано <span><b>>yyyy.MM.dd HH:mm</b></span>
        </p>
    </div>
</div>
<div class="divBtn"><button class="submitBtn" type="submit" id="returnButton">Вернуться</button></div>
<script>
    const returnButton = document.getElementById('returnButton');
    returnButton.addEventListener('click', () => {
        const id = localStorage.getItem('id')
        if (id != null){
            localStorage.removeItem('id')
            window.location.href = '/editArticle/ ' + id;
            return
        }
        window.location.href = '/createArticle';
    });
</script></body>
</html>
