body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}


h1 {
    text-align: center;
    padding: 40px;
    background-color: #3498db;
    color: white;
    margin: 0;
}


nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}


a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #3498db;
    border: 1px solid #3498db;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #3498db;
    color: white;
}
.article-card {
    position: relative;
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.article-avatar {
    width: 150px;
    height: 120px;
    margin-right: 20px;
    object-fit: cover;
}

.article-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.article-name {
    font-size: 24px;
    margin: 0;
}

.article-views {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
    margin-top: 30px;
}

.article-date {
    font-size: 14px;
    color: #555;
    margin-top: auto;
}
.article-likes{
    font-size: 16px;
    color: #555;
    position: absolute;
    right: 10px;
    bottom: 45px;
}
.articleDate{
    margin-left: 75px;
}

