<!DOCTYPE html>
<html lang="ru" >
<head>
    <meta charset="UTF-8">
    <title>
        Welcome to the blogging platform!</title>
    <link rel="stylesheet" href="../static/style/home.css">
</head>
<body>
<header>
    <h1>
        Welcome to the blogging platform!</h1>
</header>
<nav>
    <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/createArticle">Create</a></li>
    </ul>
</nav>
<div class="article-card">
    <img class="article-avatar" src="" alt="Channel Avatar">
    <div class="article-info">
        <h2 class="article-name">Название поста</h2>
        <div class="article-description">
            <p class="article-views"><span>123,133</span> просмотров</p>
        </div>
    </div>
    <div class="article-date">
        <span class="article-likes"><span>177</span> понравившся</span>
        <p class="articleDate">Опубликовано <span><b>yyyy.mm.dd</b></span></p>
    </div>
</div>
</body>
</html>