<!DOCTYPE html>
<html lang="ru" >
<head>
    <meta charset="UTF-8">
    <title>
        Welcome to the blogging platform!</title>
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
<header>
    <h1>
        Welcome to the blogging platform!</h1>
</header>
<nav>
    <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/createArticle">Create</a></li>
    </ul>
</nav>
<div class="article-card">
    <img class="article-avatar" src="devnews.kz_logo.png" alt="Channel Avatar">
    <div class="article-info">
        <h1 class="article-name">Название поста</h1>
        <div class="article-description">
            <h3 class="article-post-text">Несколько слов c поста</h3>
            <p class="article-views"><span>123,133</span> просмотров</p>
        </div>
    </div>
    <div class="article-date">
        <span class="article-likes">177<span></span> Понравившхся</span>
        <p>Опубликовано 15 марта 2023</p>
    </div>
</div>
</body>
</html>