<!DOCTYPE html>
<html lang="ru" >
<head>
    <meta charset="UTF-8">
    <title>
        Welcome to the blogging platform!</title>
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
<header>
    <h1>Добро пожаловать!</h1>
</header>
<nav class="navbar">
    <div class="wrapper"><form th:action="@{/search}" method="get" class="search-form">
        <input type="text" name="searchQuery" placeholder="Поиск...">
        <button type="submit">Поиск</button>
    </form>
    <div class="sorting-dropdown">
        <span>Сортировать по</span>
        <button class="sorting-button" id="sorting-button">дате</button>
        <div class="sorting-menu" id="sorting-menu">
            <a href="#" data-sort="likes"> лайкам</a>
            <a href="#" data-sort="dislikes"> дизлайкам</a>
            <a href="#" data-sort="views"> просмотрам</a>
            <a href="#" data-sort="date">дате</a>
        </div>
    </div></div>
        <div class="profile-icon">
            <a href="/profile"><img src="/icons/user.png" alt="Иконка профиля"></a>
        </div>
</nav>

<div th:if="${articles.size() > 0}">
    <th:block th:each="article : ${articles}">
        <a class="link" th:href="@{'/' + ${article.getId()}}">
        <div class="article-card">
            <img class="article-avatar"  th:src="${article.getPreview()}" alt="Article preview">
            <div class="article-info">
                <h2 class="article-name" th:text="${article.getTitle()}">Название поста</h2>
                <div class="article-description">
                    <p class="article-views">
                        <span th:text="${article.getViews()}">123,133</span> просмотров
                    </p>
                </div>
            </div>
            <div class="article-date">
                <span class="article-likes">
                    <span th:text="${article.getLikes()}">11111110</span> понравившихся
                </span>
                <p class="articleDate">
                    Опубликовано <span><b th:text="${#dates.format(article.getPublishDate(), 'yyyy.MM.dd HH:mm')}">yyyy.MM.dd HH:mm</b></span>
                </p>
            </div>
        </div>
        </a>
    </th:block>
</div>
<div th:if="${articles.size() == 0}" style="text-align: center;">
    <p>Нет доступных артиклов.</p>
</div>
<script>
document.getElementById("sorting-button").addEventListener("click", function() {
    var sortingMenu = document.getElementById("sorting-menu");
    if (sortingMenu.style.display === "block") {
        sortingMenu.style.display = "none";
    } else {
        sortingMenu.style.display = "block";
    }
});

var sortingLinks = document.querySelectorAll(".sorting-menu a");
sortingLinks.forEach(function(link) {
    link.addEventListener("click", function(event) {
        event.preventDefault();
        var selectedSort = link.getAttribute("data-sort");
        var selectedSortText = link.textContent; 
        document.getElementById("sorting-button").textContent =selectedSortText; 
        console.log("Выбрана сортировка: " + selectedSort);
        document.getElementById("sorting-menu").style.display = "none";
    });
});


</script>
</body>
</html>